:root {
  --iris: #4d5ae5;
  --navyblue: #2e2f42;
  --ocean: #404bbf;
  --slate: #434455;
  --cloud: #f4f4fd;
  --cornflower: #e7e9fc;
}

.logo-link {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 1.2;
  text-decoration: none;
}

.logo {
  color: var(--iris);
}

.logo-link > span {
  font-size: 26px;
}

.studio {
  color: var(--navyblue);
  font-weight: 700;
}

.logo,
.studio {
  display: inline-block;
}

.list {
  list-style-type: none;
}

.nav-menu .page {
  color: var(--navyblue);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

body {
  color: var(--slate);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.nav-menu .page:hover,
.nav-menu .page:focus,
.nav-menu .page .current,
.contacts-menu .item:hover,
.contacts-menu .item:focus {
  color: var(--iris);
}

.contacts-menu .item {
  color: var(--slate);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.bg-hero {
  background: var(--navyblue);
}

.hero-title {
  color: white;
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
}

.button {
  border-color: transparent;
  font-family: inherit;
  letter-spacing: 0.03em;
  cursor: pointer;
}

.button.primary {
  color: white;
  background-color: var(--iris);
  font-size: 16px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.button.primary:hover,
.button.primary:focus {
  background: var(--ocean);
}

.benefits .title {
  color: var(--navyblue);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.benefits .description {
  color: var(--slate);
  line-height: 1.71;
}

/* Section 3 */
.section-title {
  color: var(--navyblue);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
}

.bg-team {
  background-color: var(--cloud);
}

.team .name,
.team .position {
  color: var(--navyblue);
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
}

.team .name {
  font-weight: 500;
}

.team .position {
  color: var(--slate);
}

.page-footer.bg-footer {
  background: var(--navyblue);
}

.page-footer.bg-footer .studio-2 {
  color: var(--cloud);
}

.page-footer.bg-footer .footer-description {
  color: var(--cloud);
}

.button.filter {
  color: var(--iris);
  background-color: #f5f4fa;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
}

.button.filter:hover,
.button.filter:focus,
.button.filter.current {
  color: var(--cloud);
  background-color: var(--ocean);
}

.project {
  text-decoration: none;
}

.project .name {
  color: var(--navyblue);
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project .type {
  color: var(--slate);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
}
