:root {
  --iris: #4d5ae5;
  --navyblue: #2e2f42;
  --ocean: #404bbf;
  --slate: #434455;
  --cloud: #f4f4fd;
  --cornflower: #e7e9fc;
}

.logo-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 1.17;
  text-decoration: none;
  letter-spacing: 0.54px;
}

.logo {
  color: var(--iris);
}

.studio {
  color: var(--navyblue);
}

.nav-menu.list {
  list-style-type: none;
}

.contacts-menu.list {
  list-style-type: none;
}

.nav-menu.list .page {
  color: var(--navyblue);
  text-decoration: none;
}

body {
  color: var(--slate);
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.nav-menu.list .page:hover,
.nav-menu.list .page:focus,
.contacts-menu.list .item:hover,
.contacts-menu.list .item:focus {
  color: var(--iris);
}

.nav-menu.list .page:active,
.contacts-menu.list .item:active {
  color: var(--ocean);
}

.contacts-menu.list .item {
  color: var(--slate);
  text-decoration: none;
}

.hero.bg-hero {
  background: var(--navyblue);
}

.hero-title {
  color: white;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
}

.button.primary {
  color: white;
  background: var(--iris);
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  border-color: transparent;
}

.button.primary:hover,
.button.primary:focus {
  background: var(--ocean);
}

.benefits.list {
  list-style-type: none;
}

.benefits.list .title {
  color: var(--navyblue);
}

.benefits.list .description {
  color: var(--slate);
}

/* Section 3 */
.section .container .section-title {
  color: var(--navyblue);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
}

.what-we-do.list {
  list-style-type: none;
}

.section.bg-team .container {
  background: var(--cloud);
}

.section.bg-team .container .section-title {
  color: var(--navyblue);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
}

.team.list {
  list-style-type: none;
}

.team.list .name {
  color: var(--navyblue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.4px;
  text-align: center;
}

.team.list .position {
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  text-align: center;
}

.page-footer.bg-footer {
  background: var(--navyblue);
}

.page-footer.bg-footer .studio-2 {
  color: var(--cloud);
}

.page-footer.bg-footer .footer-description {
  color: var(--cloud);
}

.container .filters {
  background: var(--cloud);
  list-style-type: none;
}

.container .filters .button.filter {
  color: var(--iris);
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  border-color: transparent;
}

.container .filters .button.filter:hover,
.container .filters .button.filter:focus {
  color: var(--ocean);
}

.container .filters .button.filter.current {
  color: white;
  background: var(--ocean);
}

.projects.list {
  list-style-type: none;
}

.projects.list .project {
  text-decoration: none;
  color: var(--navyblue);
}

.projects.list .project .name {
  color: var(--navyblue);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.72px;
}

.projects.list .project .type {
  color: var(--slate);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
